body{
    margin:0;
    font-family: Arial,sans-serif;
    background:#f0f2f5;
}
.container{
    width:85%;
 margin:20px auto;
    display:flex;
    background:white;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}
.left{
    width: 30%;
    background: linear-gradient(#141e30,#243b55);
    color:white;
    padding: 20px;
}
.profile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    display: block;
    margin:auto;
}
.role{
    text-align: center;
}
.section{
    margin-top: 20px;
}
.section h3{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.icon{
    width: 16px;
    vertical-align: middle;
    margin-right: 8px;
}
.social{
    width: 28px;
    margin: 5px;
}

.bar{
    background: white;
    height: 6px;
    margin-bottom: 10px;
}
.fill{
    background:yellow ;
    height: 6px;
}
.html{width: 90%;}
.css{width: 85%;}
.js{width: 75%;}
.python{width: 80%;}

.right{
    width: 70%;
    padding: 25px;
}
h1{
    text-align: center;
    color:#243b55;
}
.right h3{
    border-bottom: 2px solid gray ;
    color:#243b55
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table,th,td{
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #243b55;
    color:white
}
.sign{
    text-align: right;
    margin-top: 30px;
}